<?xml version="1.0" encoding="UTF-8"?>
<daemon>
  <id>app</id>
  <mainClass>org.codehaus.mojo.appassembler.example.helloworld.HelloWorld</mainClass>
  <classpath>
    <dependencies>
      <dependency>
        <groupId>org.codehaus.mojo.appassembler-maven-plugin.it</groupId>
        <artifactId>mappasm-71-5</artifactId>
        <version>1.0-SNAPSHOT</version>
        <relativePath>org/codehaus/mojo/appassembler-maven-plugin/it/mappasm-71-5/1.0-SNAPSHOT/mappasm-71-5.jar</relativePath>
      </dependency>
      <dependency>
        <groupId>org.codehaus.plexus</groupId>
        <artifactId>plexus-utils</artifactId>
        <version>1.1</version>
        <relativePath>org/codehaus/plexus/plexus-utils/1.1/plexus-utils.jar</relativePath>
      </dependency>
      <dependency>
        <groupId>org.codehaus.mojo.appassembler</groupId>
        <artifactId>appassembler-booter</artifactId>
        <version>1.6-SNAPSHOT</version>
        <relativePath>org/codehaus/mojo/appassembler/appassembler-booter/1.6-SNAPSHOT/appassembler-booter.jar</relativePath>
      </dependency>
      <dependency>
        <groupId>org.codehaus.mojo.appassembler</groupId>
        <artifactId>appassembler-model</artifactId>
        <version>1.6-SNAPSHOT</version>
        <relativePath>org/codehaus/mojo/appassembler/appassembler-model/1.6-SNAPSHOT/appassembler-model.jar</relativePath>
      </dependency>
      <dependency>
        <groupId>stax</groupId>
        <artifactId>stax-api</artifactId>
        <version>1.0.1</version>
        <relativePath>stax/stax-api/1.0.1/stax-api.jar</relativePath>
      </dependency>
      <dependency>
        <groupId>net.java.dev.stax-utils</groupId>
        <artifactId>stax-utils</artifactId>
        <version>20060502</version>
        <relativePath>net/java/dev/stax-utils/stax-utils/20060502/stax-utils.jar</relativePath>
      </dependency>
      <dependency>
        <groupId>stax</groupId>
        <artifactId>stax</artifactId>
        <version>1.1.1-dev</version>
        <relativePath>stax/stax/1.1.1-dev/stax.jar</relativePath>
      </dependency>
      <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>3.8.1</version>
        <relativePath>junit/junit/3.8.1/junit.jar</relativePath>
      </dependency>
    </dependencies>
  </classpath>
  <configurationDirectory>conf</configurationDirectory>
</daemon>
